<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lquan.ops.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.lquan.ops.model.back.po.Project">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="Number" jdbcType="VARCHAR" property="number" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="BeginDate" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="EndDate" jdbcType="TIMESTAMP" property="endDate" />
    <result column="Director" jdbcType="VARCHAR" property="director" />
    <result column="Mebers" jdbcType="VARCHAR" property="mebers" />
    <result column="QuotaServiceState" jdbcType="INTEGER" property="quotaServiceState" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="State" jdbcType="TINYINT" property="state" />
    <result column="Active" jdbcType="BIT" property="active" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="UpdatedBy" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, `Number`, `Name`, `Type`, BeginDate, EndDate, Director, Mebers, QuotaServiceState, 
    Remark, `State`, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lquan.ops.model.back.po.Project">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project (`Number`, `Name`, `Type`, 
      BeginDate, EndDate, Director, 
      Mebers, QuotaServiceState, Remark, 
      `State`, Active, CreatedAt, 
      CreatedBy, UpdatedAt, UpdatedBy
      )
    values (#{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{director,jdbcType=VARCHAR}, 
      #{mebers,jdbcType=VARCHAR}, #{quotaServiceState,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{active,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lquan.ops.model.back.po.Project">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `Number`,
      </if>
      <if test="name != null">
        `Name`,
      </if>
      <if test="type != null">
        `Type`,
      </if>
      <if test="beginDate != null">
        BeginDate,
      </if>
      <if test="endDate != null">
        EndDate,
      </if>
      <if test="director != null">
        Director,
      </if>
      <if test="mebers != null">
        Mebers,
      </if>
      <if test="quotaServiceState != null">
        QuotaServiceState,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="state != null">
        `State`,
      </if>
      <if test="active != null">
        Active,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="createdBy != null">
        CreatedBy,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
      <if test="updatedBy != null">
        UpdatedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="mebers != null">
        #{mebers,jdbcType=VARCHAR},
      </if>
      <if test="quotaServiceState != null">
        #{quotaServiceState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lquan.ops.model.back.po.Project">
    update project
    <set>
      <if test="number != null">
        `Number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `Type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="beginDate != null">
        BeginDate = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        EndDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="director != null">
        Director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="mebers != null">
        Mebers = #{mebers,jdbcType=VARCHAR},
      </if>
      <if test="quotaServiceState != null">
        QuotaServiceState = #{quotaServiceState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `State` = #{state,jdbcType=TINYINT},
      </if>
      <if test="active != null">
        Active = #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CreatedBy = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UpdatedBy = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lquan.ops.model.back.po.Project">
    update project
    set `Number` = #{number,jdbcType=VARCHAR},
      `Name` = #{name,jdbcType=VARCHAR},
      `Type` = #{type,jdbcType=TINYINT},
      BeginDate = #{beginDate,jdbcType=TIMESTAMP},
      EndDate = #{endDate,jdbcType=TIMESTAMP},
      Director = #{director,jdbcType=VARCHAR},
      Mebers = #{mebers,jdbcType=VARCHAR},
      QuotaServiceState = #{quotaServiceState,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=TINYINT},
      Active = #{active,jdbcType=BIT},
      CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      CreatedBy = #{createdBy,jdbcType=VARCHAR},
      UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      UpdatedBy = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  
  <!-- 查询所有的数据 -->
  <select id="selectAllProduct" parameterType="com.lquan.ops.model.back.po.Project" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where 1=1 and Active=1
  </select>
</mapper>