<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lquan.ops.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.lquan.ops.model.po.Question">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TemplateID" jdbcType="INTEGER" property="templateid" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="Number" jdbcType="VARCHAR" property="number" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="ImageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="VideoUrl" jdbcType="VARCHAR" property="videourl" />
    <result column="Optional" jdbcType="BIT" property="optional" />
    <result column="Help" jdbcType="VARCHAR" property="help" />
    <result column="Layout" jdbcType="SMALLINT" property="layout" />
    <result column="DispIndex" jdbcType="SMALLINT" property="dispindex" />
    <result column="SelectionMax" jdbcType="SMALLINT" property="selectionmax" />
    <result column="SelectionMin" jdbcType="SMALLINT" property="selectionmin" />
    <result column="RowDisordered" jdbcType="BIT" property="rowdisordered" />
    <result column="MatrixPivot" jdbcType="BIT" property="matrixpivot" />
    <result column="RowLastFixed" jdbcType="BIT" property="rowlastfixed" />
    <result column="ColDisordered" jdbcType="BIT" property="coldisordered" />
    <result column="ColLastFixed" jdbcType="BIT" property="collastfixed" />
    <result column="ColumnCount" jdbcType="SMALLINT" property="columncount" />
    <result column="BusinessType" jdbcType="INTEGER" property="businesstype" />
    <result column="ScoreType" jdbcType="TINYINT" property="scoretype" />
    <result column="RowReverse" jdbcType="BIT" property="rowreverse" />
    <result column="ColReverse" jdbcType="BIT" property="colreverse" />
    <result column="ChartType" jdbcType="SMALLINT" property="charttype" />
    <result column="Active" jdbcType="BIT" property="active" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdat" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdby" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedat" />
    <result column="UpdatedBy" jdbcType="VARCHAR" property="updatedby" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TemplateID, `Type`, `Number`, Title, ImageUrl, VideoUrl, Optional, Help, Layout, 
    DispIndex, SelectionMax, SelectionMin, RowDisordered, MatrixPivot, RowLastFixed, 
    ColDisordered, ColLastFixed, ColumnCount, BusinessType, ScoreType, RowReverse, ColReverse, 
    ChartType, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lquan.ops.model.po.Question">
    insert into question (ID, TemplateID, `Type`, 
      `Number`, Title, ImageUrl, 
      VideoUrl, Optional, Help, 
      Layout, DispIndex, SelectionMax, 
      SelectionMin, RowDisordered, MatrixPivot, 
      RowLastFixed, ColDisordered, ColLastFixed, 
      ColumnCount, BusinessType, ScoreType, 
      RowReverse, ColReverse, ChartType, 
      Active, CreatedAt, CreatedBy, 
      UpdatedAt, UpdatedBy)
    values (#{id,jdbcType=INTEGER}, #{templateid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{number,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, 
      #{videourl,jdbcType=VARCHAR}, #{optional,jdbcType=BIT}, #{help,jdbcType=VARCHAR}, 
      #{layout,jdbcType=SMALLINT}, #{dispindex,jdbcType=SMALLINT}, #{selectionmax,jdbcType=SMALLINT}, 
      #{selectionmin,jdbcType=SMALLINT}, #{rowdisordered,jdbcType=BIT}, #{matrixpivot,jdbcType=BIT}, 
      #{rowlastfixed,jdbcType=BIT}, #{coldisordered,jdbcType=BIT}, #{collastfixed,jdbcType=BIT}, 
      #{columncount,jdbcType=SMALLINT}, #{businesstype,jdbcType=INTEGER}, #{scoretype,jdbcType=TINYINT}, 
      #{rowreverse,jdbcType=BIT}, #{colreverse,jdbcType=BIT}, #{charttype,jdbcType=SMALLINT}, 
      #{active,jdbcType=BIT}, #{createdat,jdbcType=TIMESTAMP}, #{createdby,jdbcType=VARCHAR}, 
      #{updatedat,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lquan.ops.model.po.Question">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="templateid != null">
        TemplateID,
      </if>
      <if test="type != null">
        `Type`,
      </if>
      <if test="number != null">
        `Number`,
      </if>
      <if test="title != null">
        Title,
      </if>
      <if test="imageurl != null">
        ImageUrl,
      </if>
      <if test="videourl != null">
        VideoUrl,
      </if>
      <if test="optional != null">
        Optional,
      </if>
      <if test="help != null">
        Help,
      </if>
      <if test="layout != null">
        Layout,
      </if>
      <if test="dispindex != null">
        DispIndex,
      </if>
      <if test="selectionmax != null">
        SelectionMax,
      </if>
      <if test="selectionmin != null">
        SelectionMin,
      </if>
      <if test="rowdisordered != null">
        RowDisordered,
      </if>
      <if test="matrixpivot != null">
        MatrixPivot,
      </if>
      <if test="rowlastfixed != null">
        RowLastFixed,
      </if>
      <if test="coldisordered != null">
        ColDisordered,
      </if>
      <if test="collastfixed != null">
        ColLastFixed,
      </if>
      <if test="columncount != null">
        ColumnCount,
      </if>
      <if test="businesstype != null">
        BusinessType,
      </if>
      <if test="scoretype != null">
        ScoreType,
      </if>
      <if test="rowreverse != null">
        RowReverse,
      </if>
      <if test="colreverse != null">
        ColReverse,
      </if>
      <if test="charttype != null">
        ChartType,
      </if>
      <if test="active != null">
        Active,
      </if>
      <if test="createdat != null">
        CreatedAt,
      </if>
      <if test="createdby != null">
        CreatedBy,
      </if>
      <if test="updatedat != null">
        UpdatedAt,
      </if>
      <if test="updatedby != null">
        UpdatedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        #{optional,jdbcType=BIT},
      </if>
      <if test="help != null">
        #{help,jdbcType=VARCHAR},
      </if>
      <if test="layout != null">
        #{layout,jdbcType=SMALLINT},
      </if>
      <if test="dispindex != null">
        #{dispindex,jdbcType=SMALLINT},
      </if>
      <if test="selectionmax != null">
        #{selectionmax,jdbcType=SMALLINT},
      </if>
      <if test="selectionmin != null">
        #{selectionmin,jdbcType=SMALLINT},
      </if>
      <if test="rowdisordered != null">
        #{rowdisordered,jdbcType=BIT},
      </if>
      <if test="matrixpivot != null">
        #{matrixpivot,jdbcType=BIT},
      </if>
      <if test="rowlastfixed != null">
        #{rowlastfixed,jdbcType=BIT},
      </if>
      <if test="coldisordered != null">
        #{coldisordered,jdbcType=BIT},
      </if>
      <if test="collastfixed != null">
        #{collastfixed,jdbcType=BIT},
      </if>
      <if test="columncount != null">
        #{columncount,jdbcType=SMALLINT},
      </if>
      <if test="businesstype != null">
        #{businesstype,jdbcType=INTEGER},
      </if>
      <if test="scoretype != null">
        #{scoretype,jdbcType=TINYINT},
      </if>
      <if test="rowreverse != null">
        #{rowreverse,jdbcType=BIT},
      </if>
      <if test="colreverse != null">
        #{colreverse,jdbcType=BIT},
      </if>
      <if test="charttype != null">
        #{charttype,jdbcType=SMALLINT},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null">
        #{updatedby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lquan.ops.model.po.Question">
    update question
    <set>
      <if test="templateid != null">
        TemplateID = #{templateid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `Type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        `Number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        ImageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        VideoUrl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        Optional = #{optional,jdbcType=BIT},
      </if>
      <if test="help != null">
        Help = #{help,jdbcType=VARCHAR},
      </if>
      <if test="layout != null">
        Layout = #{layout,jdbcType=SMALLINT},
      </if>
      <if test="dispindex != null">
        DispIndex = #{dispindex,jdbcType=SMALLINT},
      </if>
      <if test="selectionmax != null">
        SelectionMax = #{selectionmax,jdbcType=SMALLINT},
      </if>
      <if test="selectionmin != null">
        SelectionMin = #{selectionmin,jdbcType=SMALLINT},
      </if>
      <if test="rowdisordered != null">
        RowDisordered = #{rowdisordered,jdbcType=BIT},
      </if>
      <if test="matrixpivot != null">
        MatrixPivot = #{matrixpivot,jdbcType=BIT},
      </if>
      <if test="rowlastfixed != null">
        RowLastFixed = #{rowlastfixed,jdbcType=BIT},
      </if>
      <if test="coldisordered != null">
        ColDisordered = #{coldisordered,jdbcType=BIT},
      </if>
      <if test="collastfixed != null">
        ColLastFixed = #{collastfixed,jdbcType=BIT},
      </if>
      <if test="columncount != null">
        ColumnCount = #{columncount,jdbcType=SMALLINT},
      </if>
      <if test="businesstype != null">
        BusinessType = #{businesstype,jdbcType=INTEGER},
      </if>
      <if test="scoretype != null">
        ScoreType = #{scoretype,jdbcType=TINYINT},
      </if>
      <if test="rowreverse != null">
        RowReverse = #{rowreverse,jdbcType=BIT},
      </if>
      <if test="colreverse != null">
        ColReverse = #{colreverse,jdbcType=BIT},
      </if>
      <if test="charttype != null">
        ChartType = #{charttype,jdbcType=SMALLINT},
      </if>
      <if test="active != null">
        Active = #{active,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        CreatedAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        CreatedBy = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedat != null">
        UpdatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null">
        UpdatedBy = #{updatedby,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lquan.ops.model.po.Question">
    update question
    set TemplateID = #{templateid,jdbcType=INTEGER},
      `Type` = #{type,jdbcType=TINYINT},
      `Number` = #{number,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      ImageUrl = #{imageurl,jdbcType=VARCHAR},
      VideoUrl = #{videourl,jdbcType=VARCHAR},
      Optional = #{optional,jdbcType=BIT},
      Help = #{help,jdbcType=VARCHAR},
      Layout = #{layout,jdbcType=SMALLINT},
      DispIndex = #{dispindex,jdbcType=SMALLINT},
      SelectionMax = #{selectionmax,jdbcType=SMALLINT},
      SelectionMin = #{selectionmin,jdbcType=SMALLINT},
      RowDisordered = #{rowdisordered,jdbcType=BIT},
      MatrixPivot = #{matrixpivot,jdbcType=BIT},
      RowLastFixed = #{rowlastfixed,jdbcType=BIT},
      ColDisordered = #{coldisordered,jdbcType=BIT},
      ColLastFixed = #{collastfixed,jdbcType=BIT},
      ColumnCount = #{columncount,jdbcType=SMALLINT},
      BusinessType = #{businesstype,jdbcType=INTEGER},
      ScoreType = #{scoretype,jdbcType=TINYINT},
      RowReverse = #{rowreverse,jdbcType=BIT},
      ColReverse = #{colreverse,jdbcType=BIT},
      ChartType = #{charttype,jdbcType=SMALLINT},
      Active = #{active,jdbcType=BIT},
      CreatedAt = #{createdat,jdbcType=TIMESTAMP},
      CreatedBy = #{createdby,jdbcType=VARCHAR},
      UpdatedAt = #{updatedat,jdbcType=TIMESTAMP},
      UpdatedBy = #{updatedby,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>