<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lquan.ops.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.lquan.ops.model.po.Question">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="TemplateID" jdbcType="INTEGER" property="templateID" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="Number" jdbcType="VARCHAR" property="number" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="ImageUrl" jdbcType="VARCHAR" property="imageUrl" />
    <result column="VideoUrl" jdbcType="VARCHAR" property="videoUrl" />
    <result column="Optional" jdbcType="BIT" property="optional" />
    <result column="Help" jdbcType="VARCHAR" property="help" />
    <result column="Layout" jdbcType="INTEGER" property="layout" />
    <result column="DispIndex" jdbcType="INTEGER" property="dispIndex" />
    <result column="SelectionMax" jdbcType="INTEGER" property="selectionMax" />
    <result column="SelectionMin" jdbcType="INTEGER" property="selectionMin" />
    <result column="RowDisordered" jdbcType="BIT" property="rowDisordered" />
    <result column="MatrixPivot" jdbcType="BIT" property="matrixPivot" />
    <result column="RowLastFixed" jdbcType="BIT" property="rowLastFixed" />
    <result column="ColDisordered" jdbcType="BIT" property="colDisordered" />
    <result column="ColLastFixed" jdbcType="BIT" property="colLastFixed" />
    <result column="ColumnCount" jdbcType="INTEGER" property="columnCount" />
    <result column="BusinessType" jdbcType="INTEGER" property="businessType" />
    <result column="ScoreType" jdbcType="TINYINT" property="scoreType" />
    <result column="RowReverse" jdbcType="BIT" property="rowReverse" />
    <result column="ColReverse" jdbcType="BIT" property="colReverse" />
    <result column="ChartType" jdbcType="INTEGER" property="chartType" />
    <result column="Active" jdbcType="BIT" property="active" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="UpdatedBy" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TemplateID, `Type`, `Number`, Title, ImageUrl, VideoUrl, Optional, Help, Layout, 
    DispIndex, SelectionMax, SelectionMin, RowDisordered, MatrixPivot, RowLastFixed, 
    ColDisordered, ColLastFixed, ColumnCount, BusinessType, ScoreType, RowReverse, ColReverse, 
    ChartType, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lquan.ops.model.po.Question">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into question (TemplateID, `Type`, `Number`, 
      Title, ImageUrl, VideoUrl, 
      Optional, Help, Layout, 
      DispIndex, SelectionMax, SelectionMin, 
      RowDisordered, MatrixPivot, RowLastFixed, 
      ColDisordered, ColLastFixed, ColumnCount, 
      BusinessType, ScoreType, RowReverse, 
      ColReverse, ChartType, Active, 
      CreatedAt, CreatedBy, UpdatedAt, 
      UpdatedBy)
    values (#{templateID,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{number,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{optional,jdbcType=BIT}, #{help,jdbcType=VARCHAR}, #{layout,jdbcType=INTEGER}, 
      #{dispIndex,jdbcType=INTEGER}, #{selectionMax,jdbcType=INTEGER}, #{selectionMin,jdbcType=INTEGER}, 
      #{rowDisordered,jdbcType=BIT}, #{matrixPivot,jdbcType=BIT}, #{rowLastFixed,jdbcType=BIT}, 
      #{colDisordered,jdbcType=BIT}, #{colLastFixed,jdbcType=BIT}, #{columnCount,jdbcType=INTEGER}, 
      #{businessType,jdbcType=INTEGER}, #{scoreType,jdbcType=TINYINT}, #{rowReverse,jdbcType=BIT}, 
      #{colReverse,jdbcType=BIT}, #{chartType,jdbcType=INTEGER}, #{active,jdbcType=BIT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lquan.ops.model.po.Question">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateID != null">
        TemplateID,
      </if>
      <if test="type != null">
        `Type`,
      </if>
      <if test="number != null">
        `Number`,
      </if>
      <if test="title != null">
        Title,
      </if>
      <if test="imageUrl != null">
        ImageUrl,
      </if>
      <if test="videoUrl != null">
        VideoUrl,
      </if>
      <if test="optional != null">
        Optional,
      </if>
      <if test="help != null">
        Help,
      </if>
      <if test="layout != null">
        Layout,
      </if>
      <if test="dispIndex != null">
        DispIndex,
      </if>
      <if test="selectionMax != null">
        SelectionMax,
      </if>
      <if test="selectionMin != null">
        SelectionMin,
      </if>
      <if test="rowDisordered != null">
        RowDisordered,
      </if>
      <if test="matrixPivot != null">
        MatrixPivot,
      </if>
      <if test="rowLastFixed != null">
        RowLastFixed,
      </if>
      <if test="colDisordered != null">
        ColDisordered,
      </if>
      <if test="colLastFixed != null">
        ColLastFixed,
      </if>
      <if test="columnCount != null">
        ColumnCount,
      </if>
      <if test="businessType != null">
        BusinessType,
      </if>
      <if test="scoreType != null">
        ScoreType,
      </if>
      <if test="rowReverse != null">
        RowReverse,
      </if>
      <if test="colReverse != null">
        ColReverse,
      </if>
      <if test="chartType != null">
        ChartType,
      </if>
      <if test="active != null">
        Active,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="createdBy != null">
        CreatedBy,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
      <if test="updatedBy != null">
        UpdatedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateID != null">
        #{templateID,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        #{optional,jdbcType=BIT},
      </if>
      <if test="help != null">
        #{help,jdbcType=VARCHAR},
      </if>
      <if test="layout != null">
        #{layout,jdbcType=INTEGER},
      </if>
      <if test="dispIndex != null">
        #{dispIndex,jdbcType=INTEGER},
      </if>
      <if test="selectionMax != null">
        #{selectionMax,jdbcType=INTEGER},
      </if>
      <if test="selectionMin != null">
        #{selectionMin,jdbcType=INTEGER},
      </if>
      <if test="rowDisordered != null">
        #{rowDisordered,jdbcType=BIT},
      </if>
      <if test="matrixPivot != null">
        #{matrixPivot,jdbcType=BIT},
      </if>
      <if test="rowLastFixed != null">
        #{rowLastFixed,jdbcType=BIT},
      </if>
      <if test="colDisordered != null">
        #{colDisordered,jdbcType=BIT},
      </if>
      <if test="colLastFixed != null">
        #{colLastFixed,jdbcType=BIT},
      </if>
      <if test="columnCount != null">
        #{columnCount,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="scoreType != null">
        #{scoreType,jdbcType=TINYINT},
      </if>
      <if test="rowReverse != null">
        #{rowReverse,jdbcType=BIT},
      </if>
      <if test="colReverse != null">
        #{colReverse,jdbcType=BIT},
      </if>
      <if test="chartType != null">
        #{chartType,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lquan.ops.model.po.Question">
    update question
    <set>
      <if test="templateID != null">
        TemplateID = #{templateID,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `Type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        `Number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        ImageUrl = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        VideoUrl = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        Optional = #{optional,jdbcType=BIT},
      </if>
      <if test="help != null">
        Help = #{help,jdbcType=VARCHAR},
      </if>
      <if test="layout != null">
        Layout = #{layout,jdbcType=INTEGER},
      </if>
      <if test="dispIndex != null">
        DispIndex = #{dispIndex,jdbcType=INTEGER},
      </if>
      <if test="selectionMax != null">
        SelectionMax = #{selectionMax,jdbcType=INTEGER},
      </if>
      <if test="selectionMin != null">
        SelectionMin = #{selectionMin,jdbcType=INTEGER},
      </if>
      <if test="rowDisordered != null">
        RowDisordered = #{rowDisordered,jdbcType=BIT},
      </if>
      <if test="matrixPivot != null">
        MatrixPivot = #{matrixPivot,jdbcType=BIT},
      </if>
      <if test="rowLastFixed != null">
        RowLastFixed = #{rowLastFixed,jdbcType=BIT},
      </if>
      <if test="colDisordered != null">
        ColDisordered = #{colDisordered,jdbcType=BIT},
      </if>
      <if test="colLastFixed != null">
        ColLastFixed = #{colLastFixed,jdbcType=BIT},
      </if>
      <if test="columnCount != null">
        ColumnCount = #{columnCount,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        BusinessType = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="scoreType != null">
        ScoreType = #{scoreType,jdbcType=TINYINT},
      </if>
      <if test="rowReverse != null">
        RowReverse = #{rowReverse,jdbcType=BIT},
      </if>
      <if test="colReverse != null">
        ColReverse = #{colReverse,jdbcType=BIT},
      </if>
      <if test="chartType != null">
        ChartType = #{chartType,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        Active = #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CreatedBy = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UpdatedBy = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lquan.ops.model.po.Question">
    update question
    set TemplateID = #{templateID,jdbcType=INTEGER},
      `Type` = #{type,jdbcType=TINYINT},
      `Number` = #{number,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      ImageUrl = #{imageUrl,jdbcType=VARCHAR},
      VideoUrl = #{videoUrl,jdbcType=VARCHAR},
      Optional = #{optional,jdbcType=BIT},
      Help = #{help,jdbcType=VARCHAR},
      Layout = #{layout,jdbcType=INTEGER},
      DispIndex = #{dispIndex,jdbcType=INTEGER},
      SelectionMax = #{selectionMax,jdbcType=INTEGER},
      SelectionMin = #{selectionMin,jdbcType=INTEGER},
      RowDisordered = #{rowDisordered,jdbcType=BIT},
      MatrixPivot = #{matrixPivot,jdbcType=BIT},
      RowLastFixed = #{rowLastFixed,jdbcType=BIT},
      ColDisordered = #{colDisordered,jdbcType=BIT},
      ColLastFixed = #{colLastFixed,jdbcType=BIT},
      ColumnCount = #{columnCount,jdbcType=INTEGER},
      BusinessType = #{businessType,jdbcType=INTEGER},
      ScoreType = #{scoreType,jdbcType=TINYINT},
      RowReverse = #{rowReverse,jdbcType=BIT},
      ColReverse = #{colReverse,jdbcType=BIT},
      ChartType = #{chartType,jdbcType=INTEGER},
      Active = #{active,jdbcType=BIT},
      CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      CreatedBy = #{createdBy,jdbcType=VARCHAR},
      UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      UpdatedBy = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  
  
  <!-- 查询问卷的题目 -->
   <select id="searchQuestionListByTemplateID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where Active=1 and TemplateID = #{templateID,jdbcType=INTEGER}
    
    order by DispIndex asc
  </select>
</mapper>