<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lquan.ops.dao.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.lquan.ops.model.back.po.Template">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectID" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Alias" jdbcType="VARCHAR" property="alias" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Guide" jdbcType="VARCHAR" property="guide" />
    <result column="SignAgreement" jdbcType="BIT" property="signAgreement" />
    <result column="Rank" jdbcType="INTEGER" property="rank" />
    <result column="GoBack" jdbcType="BIT" property="goBack" />
    <result column="ParticipantMask" jdbcType="INTEGER" property="participantMask" />
    <result column="WaitBeforeNext" jdbcType="INTEGER" property="waitBeforeNext" />
    <result column="Active" jdbcType="BIT" property="active" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="UpdatedBy" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ProjectID, `Name`, `Alias`, Remark, `State`, Guide, SignAgreement, `Rank`, GoBack, 
    ParticipantMask, WaitBeforeNext, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from template
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lquan.ops.model.back.po.Template">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template (ProjectID, `Name`, `Alias`, 
      Remark, `State`, Guide, 
      SignAgreement, `Rank`, GoBack, 
      ParticipantMask, WaitBeforeNext, Active, 
      CreatedAt, CreatedBy, UpdatedAt, 
      UpdatedBy)
    values (#{projectID,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{guide,jdbcType=VARCHAR}, 
      #{signAgreement,jdbcType=BIT}, #{rank,jdbcType=INTEGER}, #{goBack,jdbcType=BIT}, 
      #{participantMask,jdbcType=INTEGER}, #{waitBeforeNext,jdbcType=INTEGER}, #{active,jdbcType=BIT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lquan.ops.model.back.po.Template">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectID != null">
        ProjectID,
      </if>
      <if test="name != null">
        `Name`,
      </if>
      <if test="alias != null">
        `Alias`,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="state != null">
        `State`,
      </if>
      <if test="guide != null">
        Guide,
      </if>
      <if test="signAgreement != null">
        SignAgreement,
      </if>
      <if test="rank != null">
        `Rank`,
      </if>
      <if test="goBack != null">
        GoBack,
      </if>
      <if test="participantMask != null">
        ParticipantMask,
      </if>
      <if test="waitBeforeNext != null">
        WaitBeforeNext,
      </if>
      <if test="active != null">
        Active,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="createdBy != null">
        CreatedBy,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
      <if test="updatedBy != null">
        UpdatedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectID != null">
        #{projectID,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="guide != null">
        #{guide,jdbcType=VARCHAR},
      </if>
      <if test="signAgreement != null">
        #{signAgreement,jdbcType=BIT},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="goBack != null">
        #{goBack,jdbcType=BIT},
      </if>
      <if test="participantMask != null">
        #{participantMask,jdbcType=INTEGER},
      </if>
      <if test="waitBeforeNext != null">
        #{waitBeforeNext,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lquan.ops.model.back.po.Template">
    update template
    <set>
      <if test="projectID != null">
        ProjectID = #{projectID,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        `Alias` = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `State` = #{state,jdbcType=INTEGER},
      </if>
      <if test="guide != null">
        Guide = #{guide,jdbcType=VARCHAR},
      </if>
      <if test="signAgreement != null">
        SignAgreement = #{signAgreement,jdbcType=BIT},
      </if>
      <if test="rank != null">
        `Rank` = #{rank,jdbcType=INTEGER},
      </if>
      <if test="goBack != null">
        GoBack = #{goBack,jdbcType=BIT},
      </if>
      <if test="participantMask != null">
        ParticipantMask = #{participantMask,jdbcType=INTEGER},
      </if>
      <if test="waitBeforeNext != null">
        WaitBeforeNext = #{waitBeforeNext,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        Active = #{active,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CreatedBy = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UpdatedBy = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lquan.ops.model.back.po.Template">
    update template
    set ProjectID = #{projectID,jdbcType=INTEGER},
      `Name` = #{name,jdbcType=VARCHAR},
      `Alias` = #{alias,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=INTEGER},
      Guide = #{guide,jdbcType=VARCHAR},
      SignAgreement = #{signAgreement,jdbcType=BIT},
      `Rank` = #{rank,jdbcType=INTEGER},
      GoBack = #{goBack,jdbcType=BIT},
      ParticipantMask = #{participantMask,jdbcType=INTEGER},
      WaitBeforeNext = #{waitBeforeNext,jdbcType=INTEGER},
      Active = #{active,jdbcType=BIT},
      CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      CreatedBy = #{createdBy,jdbcType=VARCHAR},
      UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      UpdatedBy = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  
  <!-- 按条件查询 -->
   <select id="selectByConfidtion"  parameterType="com.lquan.ops.model.back.po.Template" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template
    where 1=1
     <if test="ID != null">
       and ID = #{ID}
      </if>
    <if test="projectID != null">
       and  ProjectID = #{projectID}
      </if>
      <if test="name != null">
        and `Name` = #{name}
      </if>
      <if test="alias != null">
        and `Alias` = #{alias}
      </if>
      <if test="remark != null">
        and Remark = #{remark}
      </if>
      <if test="state != null">
        and `State` = #{state}
      </if>
      <if test="guide != null">
        and Guide = #{guide}
      </if>
      <if test="signAgreement != null">
        and SignAgreement = #{signAgreement}
      </if>
      <if test="rank != null">
       and  `Rank` = #{rank}
      </if>
      <if test="goBack != null">
        and GoBack = #{goBack}
      </if>
      <if test="participantMask != null">
       and  ParticipantMask = #{participantMask}
      </if>
      <if test="waitBeforeNext != null">
       and  WaitBeforeNext = #{waitBeforeNext}
      </if>
      <if test="active != null">
        and Active = #{active}
      </if>
      <if test="createdAt != null">
        and CreatedAt = #{createdAt}
      </if>
      <if test="createdBy != null">
        and CreatedBy = #{createdBy}
      </if>
      <if test="updatedAt != null">
        and UpdatedAt = #{updatedAt}
      </if>
      <if test="updatedBy != null">
        and UpdatedBy = #{updatedBy}
      </if>
  </select>
</mapper>